backend/.vscode
backend.venv
backend/all_codes.py
all_codes.py
source_exporter.sh
code_files.txt

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
.venv/
*.sqlite3
db.sqlite3

# Django
*.log
*.pot
*.py[cod]
media/
staticfiles/
local_settings.py
.env

# VS Code
.vscode/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Vite / React
*.local
.DS_Store
.cache/
*.tsbuildinfo

# Docker
*.pid
*.sock
*.db
*.log

# System
Thumbs.db
ehthumbs.db
.idea/
*.swp
